* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
  line-height: 1.5;
  background-color: hsl(0deg, 0%, 60%);
  color: hsl(0deg, 0%, 10%);
}

h2 {
  font-size: 1.5rem;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk,
.card {
  padding: 8px 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
  /* height: 50%; */
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  margin-top: 96px;
  margin-bottom: 96px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card p {
  font-size: 1.25rem;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding: 24px 48px;
  margin-left: -48px;
  margin-top: 0;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 32px;
}

.intro-chunk h1 {
  font-size: 2rem;
  margin-bottom: 48px;
  margin-top: 0;
}

.intro-chunk p {
  font-size: 1.5rem;
  max-width: 70%;
}

@media (max-width: 600px) {
  .intro-chunk p {
    max-width: 100%;
  }
}
